<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help & Services</title>
</head>
<body>
    <bold><h1>Help and Customer Service :</h1></bold>

<p>Welcome to MAGIC Accessories Customer Service. How can we assist you today?</p>
<p><h2>Frequently Asked Questions (FAQs):</h2></p>

<P>How do I place an order?</P>

<p>Browse our collection, select items, add them to your cart, and proceed to checkout.</P>
<p>
What payment methods are accepted?</p>
<p>We accept credit/debit cards, PayPal, and Apple Pay.</p>

<p>
What is return policy?</p>
<p>read this policy kindly given at the bottom of the page</p>
<p>

<h2>Contact Us:</h2></p>
<p>
If you have any other questions or need further assistance, please reach out to us:</p>
<p>
Email:om64312@gmail.com</p>
<p>
Phone:9313812189</p>


</body>
</html>