<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
   
</head>
<body>
  <bold> <h1>Privacy & Policy :</h1></bold>
<p>
1. Introduction: Welcome to MAGIC Accessories! Your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal information when you visit our website.
</p>
<p>
2. Information We Collect;

We may collect the following types of information:

Personal Information: Name, email address, mailing address, phone number, and payment information.
Non-Personal Information: Browser type, operating system, IP address, and browsing behavior on our site.
</p>
<p>
3. How We Use Your Information;

We use your information to:

Process transactions and send order updates.
Improve our website and customer service.
Send periodic emails for promotions, updates, or service information.
Respond to inquiries, requests, or complaints.
 </p>
 <p>
4. Sharing Your Information : We do not sell, trade, or otherwise transfer your personal information to outside parties except:

To trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.
When we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
</p>
<p>
6. Cookies : Our website uses cookies to enhance your experience. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.
</p>
<p>
7. Third-Party Links : Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.
</p>
<p>
8. Your Consent: using our site, you consent to our website privacy policy.
</p>
<p>
9. Changes to Our Privacy Policy : We reserve the right to modify this privacy policy at any time. If we make changes, we will post the updated policy on this page, and update the Privacy Policy modification date above.
</p>

</body>
</html>