<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return & Refund</title>
</head>
<body>
<bold><h1>Refund policy :</h1></bold>
<p>
We may contact you to ascertain the damage or defect in the product prior to issuing refund/replacement.</p>
<p>
Refunds will be through bank transfers. No cash refunds will be made. It would take our team at least 5 to 7 business days post refund initiation for online refund to be initiated.
</p>
<p>
In case of NEFT, it would require us at least 3 to 5 business days post refund initiation to refund your amount. For Prepaid orders the amount shall be credited to your account through which the payment was done. It may take 7-10 business days for the amount to reflect in your account.
</p>
<br>
<bold><h1>Return policy :</h1></bold>
<p> 1.In case you would want a refund or replacement, please send us an email with the Images of the Product, Invoice, Inner & Outer Packaging  to om64312@gmail.com, within 24 hours of the order delivery. We would require 48-72 hours to revert.</p>

<p>2. Kindly take picture of the damaged/tampered side of the product or package.</p>
<p>3.Please allow us 10 to 15 days from the day you return your package, for your request to be processed. We may contact you to ascertain the damage or defect in the product prior to issuing refund/replacement.</p>

<p>4.You will be eligible for full refund or exchange without incurring any additional charges if it is the case of:
a. Package has accessories missing.
b. Wrong product delivery.
</p>
<p>
5. In case you received a wrong product, we request you to keep the product safe, saleable and undamaged in its original packaging. Retain the invoice and original manufacturer’s packing for successful pick-up and return.
</p>
<p>
6. Returns will not be accepted if:
a. The product is damaged.
b. It is without invoice.
</p>
<p>
7. Please do not use the item you have raised a complaint about.</p>

<p>
9. Products once delivered, will not be applicable for a refund if it falls under any of the scenarios stated below:
a. Failure to provide adequate information about the case.
b. Failure to provide snapshots of the Invoice, packet and box (if any).
</p>
<p>
10.Damages due to neglect, improper usage or wrong application will not be covered under our Exchange/Returns Policy. Please note that orders for Festive Gift boxes are not applicable for exchange or refund. Exchange of products due to allergic reactions is not applicable.
</p>


</body>
</html>