<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping & Delivery</title>
</head>
<body>
    <bold><h1>Shipping and Delivery policy :</h1></bold>

   <p> At MAGIC Accessories, we strive to provide our customers with a seamless and efficient shipping experience. Below, you'll find our shipping and delivery policy, which outlines our procedures and guidelines for shipping and delivering your orders.
</p>
<p>
<h2>Shipping Methods</h2></p>
<p>
We offer the following shipping methods:
</p>

<p>Standard Shipping: 3-7 business days</p>
<p>Express Shipping: 1-3 business days</p>
<p>International Shipping: 7-14 business days</p>

<p><h2>Shipping Fees</h2></p>
<p>Our shipping fees are as follows:</p>
<p>
Standard Shipping: $5.99</p>
<p>                     
Express Shipping: $14.99</p>
<p>
International Shipping: $19.99</p>
<p>
Free Shipping:
We offer free standard shipping on all orders over $50.</p>

<p>
International Shipping:
We ship to most countries worldwide. Please note that international shipping rates and delivery times may vary.</p>
<p>
Customs Information:
Please note that international shipments may be subject to customs duties and taxes. These fees are the responsibility of the customer.</p>



</body>
</html>