<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
   
</head>
<body>


<bold> <h1>Terms of Services :</h1></bold>
<p>
Welcome to MAGIC Accessories. Please read these Terms of Service carefully before using our website operated by MAGIC Accessories Managed by ME.
</p>

<p>
1. Acceptance of Terms:By accessing or using our Site, you agree to be bound by these Terms and our Privacy Policy. If you do not agree with these Terms, please do not use our Site.
</p>
<p>
2. Changes to Terms:We reserve the right to modify these Terms at any time. Any changes will be effective immediately upon posting. Your continued use of the Site following the posting of changes constitutes your acceptance of those changes.
</p>
<p>
3. Use of the Site:You agree to use the Site for lawful purposes only and in a manner that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the Site.
</p>
<p>
4. User Accounts:To access certain features of the Site, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.
</p>
<p>
5. Product Descriptions:We strive to ensure that our product descriptions are as accurate as possible. However, we do not warrant that the descriptions or other content available on the Site are complete, reliable, current, or error-free.
</p>
<p>
6. Purchases: We reserve the right to refuse any order you place with us.
</p>
<p>
7. Intellectual PropertyLAll content on the Site, including but not limited to text, graphics, logos, and images, is the property of MAGIC Accessories or its content suppliers and is protected by applicable intellectual property laws.
</p>
<p>
8. User Content:By submitting any content to the Site, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content.
</p>
<p>
9. Disclaimer of Warranties:The Site is provided on an "as is" and "as available" basis. We make no warranties, expressed or implied, and hereby disclaim all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property.
</p>
<p>
10. Limitation of Liability:In no event shall MAGIC Accessories, its directors, employees, or agents be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of the Site.
</p>
</body>
</html>